   * {
      padding: 0;
      margin: 0;
      list-style: none;
      font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    }
    .clearfix:after {
      content: '';
      display: block;
      clear: both;
    }
    .show{
      visibility:visible !important; 
    }
    .musicbox {
      width: 400px;
      margin: 0 auto;
      margin-top: 20px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background-color: rgba(0, 0, 0, 0.1);
    }
    
    .musicbox .theme img {
      width: 100%;
      height: 160px;
    }
    
    .musicbox .lyricsbox {
      width: 100%;
      margin-top: 10px;
    }
    
    .musicbox .lyricsbox .title {
      font-size: 28px;
      overflow: hidden;
      text-align: center;
      font-weight: bold;
      color:#1F2D3D;
    }
    
    .musicbox .lyricsbox .author {
      font-weight: bold;
      text-align: center;
      font-size: 20px;
      color: #1F2D3D
    }
    
    .musicbox .lyricsbox .lyrics {
      margin: 0 auto;
      text-align: center;
      margin-top: 20px;
      height: 50px;
      overflow: hidden;
    }

    .musicbox .controlbox .progress {
      width: 350px;
      margin: 0 auto;
      height: 8px;
      background-color: rgba(0, 0, 0, 0.2);
      margin-top: 30px;
      border-radius: 5px;
      position: relative;
    }
    
    .musicbox .controlbox .progress-now {
      height: 8px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #8492A6;
    }
    .musicbox .controlbox .time{
      position: absolute;
      right: 0;
      top: 10px;
    }
    .musicbox .controlbox .control {
      padding: 30px;
    }
    
    .musicbox .controlbox .listbox {
      float: left;
      margin-top: 15px;
      position: relative;
      cursor: pointer;
    }
    
    .musicbox .controlbox .listbox .musicstyle {
      position: absolute;
      left: 10px;
      bottom: 40px;
      border: 1px solid #ddd;
      background-color: #fff;
      visibility: hidden;
      height: 200px;
      overflow: hidden;
    }
    
    .musicbox .controlbox .listbox .musicstyle .trangle {
      position: absolute;
      left: 0px;
      bottom: -20px;
      border: 10px solid #fff;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
    
    .musicbox .controlbox .listbox .musicstyle li {
      width: 100px;
      padding: 6px;
      cursor: pointer;
    }
    .musicbox .controlbox .listbox .musicstyle .selected{
      color:rgba(0, 0, 0, 0.3);
    }
    .musicbox .controlbox .listbox .list:before {
      content: '\e64d';
    }
    
    .musicbox .controlbox .music-control {
      float: left;
      margin-left: 70px;
    }
    
    .musicbox .controlbox .music-control span {
      margin-right: 10px;
      cursor: pointer;
    }
    
    .musicbox .controlbox .music-control .pre:before {
      content: "\e601";
      font-size: 40px;
    }
    
    .musicbox .controlbox .music-control .play:before {
      content: "\e600";
      font-size: 50px;
    }
    
    .musicbox .controlbox .music-control .pause:before {
      content: "\e61e";
      font-size: 50px;
    }
    
    .musicbox .controlbox .music-control .next:before {
      content: "\e602";
      font-size: 40px;
    }
    
    .musicbox .controlbox .voice-control {
      margin-top: 15px;
      margin-left: 50px;
      float: left;
      position: relative;
    }
    .musicbox .controlbox .voice-control .voice-box{
      position: absolute;
      left: -120px;
      bottom: 40px;
      width: 150px;
      padding: 5px;
      background-color: #fff;
      visibility: hidden;
    }
    .musicbox .controlbox .voice-control .voice-box .voice-progress{
      width: 140px;
      height: 6px;
      margin: auto auto;
      background-color: rgba(0, 0, 0, 0.4);
      position: relative;
    }
    .musicbox .controlbox .voice-control .voice-box .voice-progress-now{
      position: absolute;
      left: 0;
      top: 0;
      height: 6px;
      width: 50px;
      background-color: #000;
    }
    .musicbox .controlbox .voice-control .voice:before {
      content: "\e672";
    }
 