
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1497327252123'); /* IE9*/
  src: url('iconfont.eot?t=1497327252123#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497327252123') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497327252123') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497327252123#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:25px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#475669;
}

.icon-bofang:before { content: "\e600"; }

.icon-shangyishou:before { content: "\e601"; }

.icon-xiayishou:before { content: "\e602"; }

.icon-list:before { content: "\e64d"; }

.icon-yinliang:before { content: "\e672"; }

.icon-zanting:before { content: "\e61e"; }

